<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hengyu.user.dao.RolePermissionDAO">
	<resultMap type="RolePermissionVo" id="rolePermissionMap">
		<result column="role_id" property="roleId" />
		<result column="resource_id" property="resourceId" />
		<result column="organization_id" property="organizationId" />
		<collection property="deptList" ofType="RoleDept">
			<result column="store_id" property="id"/>
			<result column="store_name" property="name"/>
		</collection>
		<collection property="adminList" ofType="RoleAdmin">
			<result column="admin_id" property="id"/>
			<result column="admin_name" property="name"/>
		</collection>
	</resultMap>

	<select id="queryCategoryByRoleId" resultType="int">
		SELECT DISTINCT
		t2.category_id FROM sys_role_permission t1
		LEFT JOIN sys_resource t2 ON t1.resource_id = t2.id WHERE t1.role_id =
		#{roleId}
	</select>

	<select id="queryPermissionByRoleId"
		resultMap="rolePermissionMap">
		SELECT t1.role_id,t1.resource_id,t1.organization_id,t2.store_id,t3.`name` AS store_name,t2.admin_id,t4.user_name AS admin_name FROM sys_role_permission t1 
		LEFT JOIN sys_role_user t2 ON t1.role_id = t2.role_id AND t1.resource_id = t2.resource_id
		LEFT JOIN jyq_store t3 ON t2.store_id = t3.id
		LEFT JOIN jyq_admin t4 ON t2.admin_id = t4.id WHERE t1.role_id = #{roleId} ORDER BY 2,5;
	</select>
	
	
</mapper>