<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hengyu.contract.dao.ContractNumDAO">

	<select id="queryByParams" resultType="SearchVo">
		SELECT
			t1.id,
			t1.company_id companyId,
			t1.renting_num rentingNum,
			t1.new_house_num newHouseNum,
			t1.stock_room_num stockRoomNum,
			t1.renting_sta rentingNum,
			t1.new_house_sta newHouseNum,
			t1.stock_room_sta stockRoomNum,
			t2.company_name companyName,
			t2.company_abb companyAbb,
			t2.province,
			t2.city,
			t2.area,
			t2.address_detail addressDetail,
			t2.business_url businessUrl,
			t2.logo_url logoUrl,
			t2.create_time createTime,
			t2.end_time endTime,
			t2.del_flag delFlag,
			t2.pay_result_id payResultId,
			t2.question_share questionShare,
			t2. STATUS,
			t2.staff_id staffId,
			t2.customer_status customerStatus,
			t2.remark,
			t2.number_type numberType,
			t2.update_time updateTime
		FROM
			(
			SELECT
				*
			FROM
				jyq_contract_num
			<where>
				1 = 1
			    <if test="companyId != null and companyId !=''">
			        and company_id=#{companyId}
			    </if>
			    <if test="rentingNum != null and rentingNum !=''">
			        and renting_num= #{rentingNum}
			    </if>
			    <if test="newHouseNum != null and newHouseNum !=''">
			        and new_house_num= #{newHouseNum}
			    </if>
			    <if test="stockRoomNum != null and stockRoomNum !=''">
			        and stock_room_num= #{stockRoomNum}
			    </if> 
			    <if test="rentingSta != null and rentingSta !=''">
			        and renting_sta= #{rentingSta}
			    </if> 
			    <if test="newHouseSta != null and newHouseSta != ''">
			        and new_house_sta= #{newHouseSta}
			    </if> 
			    <if test="stockRoomSta != null and stockRoomSta != ''">
			        and stock_room_sta= #{stockRoomSta}
			    </if> 
		    </where>
			) t1
		LEFT JOIN jyq_company t2 ON t1.company_id = t2.id
	</select>
</mapper>
