<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hengyu.contract.dao.ContractNumberDAO">

	<select id="getHtNumberByMax"  resultType="ContractNumber"> 
		SELECT
			*
		FROM
			jyq_contract_number
		<where>
			1=1
			<if test=" number !=null and number !=''">
				and number = #{number} 
			</if>
			<if test=" type !=null and type !=''">
				and type = #{type} 
			</if>
			<if test=" companyId !=null and companyId !=''">
				and company_id = #{companyId} 
			</if>
			<if test=" status !=null and status !=''">
				and status = #{status} 
			</if>
		</where>
		order by id desc  LIMIT 1
	</select>
	
	<update id="updateStatus">
		UPDATE jyq_contract_number
		SET status = #{status}
		<where>
			1=1		
			and number = #{number}
			<if test="companyId !=null and companyId !=''">
				and company_id = #{companyId}
			</if>
			<if test="type !=null and type !=''">
				and type = #{type}
			</if>
		</where>
	</update>
	
	<select id="getHtNumberState" resultType="int">
		SELECT
			number_type
		FROM
			jyq_company
		where id = #{id}
	</select>
</mapper>
