<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hengyu.contract.dao.PartnerDAO">

	<select id="queryList" resultType="Partner">
		SELECT
			t1.*,
			t2.`name` industryName,
			t3.`name` templateName,
			t4.name companyName
		FROM
			jyq_partner t1
		LEFT JOIN jyq_industry t2 on t1.industry_id = t2.id
		LEFT JOIN jyq_template t3 on t1.contract_type = t3.id
		inner JOIN jyq_company t4 on t1.company_id = t4.id
		<where>
			1=1
			<if test="contractType != null">
				and t1.contract_type =#{contractType}
			</if>
				
			<if test="uploadTime != null and uploadTime !=''">
				and t1.upload_time =#{uploadTime}
			</if>
			<if test="companyId != null and companyId !=''">
				and t1.company_id =#{companyId}
			</if>
			<if test="fileName != null and fileName !=''">
				and t1.file_name like CONCAT('%',#{fileName},'%')
			</if>
			<if test="industryId != null and industryId !=''">
				and t1.industry_id =#{industryId}
			</if>
			<if test="cityId != null">
				and t3.city_id = #{cityId}
			</if>
			<if test="type != null">
				and t3.type = #{type}
			</if>
		</where>
		ORDER BY t1.upload_time desc
	</select>
	
	<select id="queryById" resultType="Partner">
		SELECT
			t1.*,
			t2.`name` industryName,
			t3.`name` templateName,
			t4.company_name companyName
		FROM
			jyq_partner t1
		LEFT JOIN jyq_industry t2 on t1.industry_id = t2.id
		LEFT JOIN jyq_template t3 on t1.contract_type = t3.id
		LEFT JOIN jyq_company t4 on t1.company_id = t4.id
		<where>
			t1.id = #{id}
		</where>
	</select>
</mapper>
