<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hengyu.report.dao.ReportDAO">
	<select id="queryDetailById" resultType="ReportVo">
		SELECT t1.`name`,t1.type,t1.content,t2.user_name,t1.create_time FROM jyq_report t1 
			LEFT JOIN jyq_admin t2 ON t1.create_admin = t2.id WHERE t1.id = #{id}
	</select>
	
	<select id="queryListByType" resultType="ReportVo">
		SELECT t1.id,t1.`name`,t1.type,t1.create_time,t1.read_count FROM jyq_report t1
		<where>
			<if test="type != null and type != ''">
                AND t1.type = #{type}
            </if>
			AND t1.company_id = #{companyId}
		</where>
	</select>
</mapper>
