<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hengyu.cases.dao.CaseDAO">
	<!-- 根据案例分类查询列表 -->
	<select id="queryAllByCategoryId" resultType="CaseInfoVo">				
		SELECT t1.id,t1.title,t1.content,t1.create_time,t6.user_name AS top_name,t1.top_time,t2.user_name AS ref_name,t3.user_name AS admin_name,t7.`name` AS store_name,
			IFNULL(t4.like_cnt,0) AS like_cnt,IFNULL(t5.comment_cnt,0) AS comment_cnt,IFNULL(t8.is_like,0) AS is_like,t1.type FROM jyq_case t1
			LEFT JOIN jyq_admin t2 ON t1.ref_id = t2.id
			LEFT JOIN jyq_admin t3 ON t1.admin_id = t3.id
			LEFT JOIN (SELECT t1.case_id,COUNT(*) AS like_cnt FROM jyq_like t1 GROUP BY t1.case_id)t4 ON t1.id = t4.case_id
			LEFT JOIN (SELECT t1.case_id,COUNT(*) AS comment_cnt FROM jyq_comment t1 GROUP BY t1.case_id)t5 ON t1.id = t5.case_id
			LEFT JOIN jyq_admin t6 ON t1.top_id = t6.id
			LEFT JOIN jyq_store t7 ON t3.store_id = t7.id
			LEFT JOIN (SELECT t1.case_id,COUNT(*) AS is_like FROM jyq_like t1 WHERE t1.admin_id = #{userId} GROUP BY t1.case_id)t8 ON t1.id = t8.case_id
			<where>
				t1.is_draft = 0
				<if test="categoryId != null and categoryId != ''">
					AND t1.category_id = #{categoryId}
				</if>
				<if test="companyId != null and companyId != ''">
					AND t1.company_id = #{companyId}
				</if>
			</where>
		ORDER BY t1.top_time DESC,t1.create_time desc
	</select>

	<select id="queryDraft" resultType="CaseInfoVo">
		SELECT t1.id,t1.type,t1.category_id,t2.`name` AS category_name,t1.title,t1.content,t1.create_time FROM jyq_case t1
			LEFT JOIN jyq_case_category t2 ON t1.category_id = t2.id
		<where>
			t1.is_draft = 1
			<if test="companyId != null and companyId != ''">
				AND t1.company_id = #{companyId}
			</if>
		</where>
		ORDER BY t1.create_time DESC
	</select>
	
	<!-- 根据ID查询案例详情 -->
	<select id="queryCaseById" resultType="CaseInfoVo">
		SELECT t1.id,t1.type,t1.category_id,t2.`name` AS category_name,t1.title,t1.create_time,t3.user_name AS admin_name,t4.`name` AS store_name,t5.`name` AS role_name,t1.content,IFNULL(t6.like_cnt,0) AS like_cnt,IFNULL(t7.comment_cnt,0) AS comment_cnt FROM jyq_case t1 
			LEFT JOIN jyq_case_category t2 ON t1.category_id = t2.id
			LEFT JOIN jyq_admin t3 ON t1.admin_id = t3.id
			LEFT JOIN jyq_store t4 ON t3.store_id = t4.id
			LEFT JOIN sys_role t5 ON t3.role_id = t5.id
			LEFT JOIN (SELECT t1.case_id,COUNT(*) AS like_cnt FROM jyq_like t1 GROUP BY t1.case_id)t6 ON t1.id = t6.case_id
			LEFT JOIN (SELECT t1.case_id,COUNT(*) AS comment_cnt FROM jyq_comment t1 GROUP BY t1.case_id)t7 ON t1.id = t7.case_id WHERE t1.id = #{id}
	</select>
	
	<update id="updateTop">
		UPDATE jyq_case SET top_id = #{userId},top_time = NOW() WHERE id = #{id}
	</update>
	
	<update id="cancelTop">
		UPDATE jyq_case SET top_id = NULL,top_time = NULL WHERE id = #{id}
	</update>
	
	<update id="updateRef">
		UPDATE jyq_case SET ref_id = #{userId},ref_time = NOW() WHERE id = #{id}
	</update>
	
	<update id="cancelRef">
		UPDATE jyq_case SET ref_id = NULL,ref_time = NULL WHERE id = #{id}
	</update>
	
	<select id="queryUsers" resultType="UserVo">
		SELECT
			DISTINCT t3.id,
			t3.user_name,
			t3.wx_open_id
		FROM
			`sys_resource` t1
		LEFT JOIN sys_role_permission t2 ON t1.id = t2.resource_id
		LEFT JOIN jyq_admin t3 ON t2.role_id = t3.role_id
		where t1.`name` = #{key}
		and t3.company_id = #{companyId}
		and t3.wx_open_id != ''
		and t3.wx_open_id IS NOT null
	</select>
</mapper>
