<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hengyu.exam.dao.TestAnswerDAO">

	<select id="countScore" resultType="int">
		SELECT
			COUNT(*)
		FROM
			edu_test_answer t1
		LEFT JOIN edu_question t2 ON t1.question_id = t2.id
		LEFT JOIN edu_test_paper_user t3 ON t1.paper_id = t3.paper_id
		WHERE
			t1.paper_id = #{paperId}
		AND t3.user_id = #{userId}
		AND t1.`right` = 1
		AND t2.type = #{typeId}
	</select>
	
	<select id="querySumScore" resultType="int">
		SELECT SUM(t3.score) AS score FROM edu_test_answer t1 
				LEFT JOIN edu_question t2 ON t1.question_id = t2.id
				LEFT JOIN edu_test_paper_subject t3 ON t2.type = t3.subject_id AND t2.category = t3.category_id AND t1.paper_id = t3.paper_id
			WHERE t1.`right` = 1 AND t1.paper_id = #{paperId}
	</select>
	
	<select id="countQuestion" resultType="int">
		SELECT
			COUNT(*)
		FROM
			`edu_test_paper_question` t1
		LEFT JOIN edu_question t2 ON t1.question_id = t2.id
		WHERE
			t2.type IN (4, 5)
		AND t1.paper_id = #{paperId}
	</select>
</mapper>
